<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="DistributorApiBaseUrl" value="https://localhost:44395" />

		<add key="SellerApiBaseUrl" value="https://localhost:44328" />
	</appSettings>
</configuration>